* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.section {
  padding: 94px 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-title);
  background-color: var(--color-forbackground);
  font-size: 14px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visuallity-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --color-title: #212121;
  --color-subtitle: #757575;
  --color-hoverfocus: #2196f3;
  --color-forbackground: #ffffff;
  --color-maintitle: #2f303a;
  --color-hoverfocusbutton: #188ce8;
  --color-grey: #f5f4fa;
  --colorforborder: #eeeeee;
  --coloricon: #afb1b8;
  --colorhovericon: #2196f3;
  --backgroundfottericon: rgba(255, 255, 255, 0.1);
}

.flex-header {
  border-bottom: 1px solid var(--colorforborder);
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-header__box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
}
.flex-header__box-two {
  margin-left: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: inline-block;
  padding: 24px 0;
  letter-spacing: 0.03em;
}
.logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-hoverfocus);
}
.logo__studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-title);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__position {
  display: inline-block;
  margin-right: 50px;
}
.navigation__position:last-child {
  margin-right: 0;
}
.navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--color-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: var(--color-hoverfocus);
}
.navigation__link:focus {
  color: var(--color-hoverfocus);
}
.navigation .current {
  color: var(--color-hoverfocus);
}
.navigation .current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-hoverfocus);
  content: "";
}

.feedback__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  align-items: center;
  gap: 10px;
  padding: 32px 0;
  color: var(--color-subtitle);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback :hover {
  color: var(--color-hoverfocus);
}
.feedback :focus {
  color: var(--color-hoverfocus);
}
.feedback__icon {
  display: inline-block;
  width: 10px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;
}

.primery {
  background: var(--color-maintitle);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.primery__maintitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-forbackground);
  letter-spacing: 0.06em;
}
.primery__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  background: var(--color-hoverfocus);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--color-forbackground);
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primery__button:hover, .primery__button:focus {
  background-color: var(--color-hoverfocusbutton);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/title-Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/title-Img.jpg);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.features__subfeatures {
  display: block;
  max-width: 270px;
}
.features__icon {
  width: 270px;
  height: 120px;
  background-color: var(--color-grey);
  padding: 25px 100px;
}
.features__headline {
  margin-top: 30px;
  color: var(--color-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.features__paragraf {
  margin-top: 10px;
  color: var(--color-subtitle);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.whatwedo__title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.whatwedo__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.whatwedo__overlay {
  position: relative;
}
.whatwedo__signature {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--color-forbackground);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--color-grey);
}
.team__title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__flex {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__item {
  background: var(--color-forbackground);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__signature {
  padding: 30px 30px;
}
.team__headline {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__paragraf {
  margin-top: 10px;
  color: var(--color-subtitle);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.icon-list__box {
  width: 44px;
  height: 44px;
}
.icon-list__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--coloricon);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list__item-icon:hover, .icon-list__item-icon:focus {
  fill: var(--color-forbackground);
  background-color: var(--color-hoverfocus);
}
.icon-list__icon {
  width: 20px;
  height: 20px;
}

.clients__title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clients__item {
  display: block;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--coloricon);
  border-radius: 4px;
  fill: var(--coloricon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--colorhovericon);
  fill: var(--colorhovericon);
}
.clients__icon {
  width: 106px;
  height: 60px;
}/*# sourceMappingURL=main.css.map */