.section {
    padding: 94px 0px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-title);
    background-color: var(--color-forbackground);
    font-size: 14px;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.visuallity-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}