:root {
    --color-title: #212121;
    --color-subtitle: #757575;
    --color-hoverfocus: #2196f3;
    --color-forbackground: #ffffff;
    --color-maintitle: #2f303a;
    --color-hoverfocusbutton: #188ce8;
    --color-grey: #f5f4fa;
    --colorforborder: #eeeeee;
    --coloricon: #afb1b8;
    --colorhovericon: #2196f3;
    --backgroundfottericon: rgba(255, 255, 255, 0.1);
}
